<footer
    class="hidden md:flex py-4 px-6 bg-[var(--c-gray-2)]/80 backdrop-blur-md border-t border-gray-700 text-gray-300 text-sm">
    <div class="max-w-7xl mx-auto flex justify-between items-center w-full">

        <!-- Copyright -->
        <div class="text-left text-white">
            © 2024 - <span class="year"></span>
            <a href="/" class="text-white transition no-underline font-bold hover:text-gray-300 hover:underline">
                Tomás Mota Studios Unipessoal, Lda</a>. All Rights Reserved.
        </div>

        <!-- Contact -->
        <nav class="flex gap-4 items-center">
            <a href="mailto:tomasmotastudios@gmail.com" target="_blank"
                class="text-white hover:text-gray-300  transition duration-300" title="Email">
                <i class="fas fa-envelope text-lg"></i>
            </a>

            <a href="https://wa.me/351913936776" target="_blank"
                class="text-white hover:text-gray-300 transition duration-300" title="WhatsApp">
                <i class="fab fa-whatsapp text-lg"></i>
            </a>

            <div class="
                h-6 
                w-px
                bg-gradient-to-b
                from-transparent
                via-white
                to-transparent
            "></div>

            <a href="https://www.linkedin.com/in/iamtomasmota" target="_blank"
                class="text-white hover:text-gray-300 transition" title="LinkedIn">
                <i class="fab fa-linkedin-in text-lg"></i>
            </a>

            <a href="https://www.instagram.com/iamtomasmota" target="_blank"
                class="text-white hover:text-gray-300 transition" title="Instagram">
                <i class="fab fa-instagram text-lg"></i>
            </a>

            <a href="https://www.youtube.com/@iamtomasmota" target="_blank"
                class="text-white hover:text-gray-300 transition" title="YouTube">
                <i class="fab fa-youtube text-lg"></i>
            </a>

            <!-- <a href="https://lnkfi.re/tomasmota" target="_blank"
                class="text-white hover:text-gray-300 transition-colors duration-300 ease-in-out" title="Linkfire">
                <img src="/upload/linkfire-white.svg" alt="Linkfire" class="h-4 w-4">
            </a> -->
        </nav>
    </div>
    </div>
</footer>

<!-- Mobile -->
<footer
    class="flex flex-col md:hidden py-5 px-6 bg-[var(--c-gray-2)]/80 backdrop-blur-md border-t border-gray-700 text-white text-sm items-center gap-4">

    <!-- Copyright -->
    <div class="text-center">
        © 2024 - <span class="year"></span>
        <a href="/" class="text-white transition no-underline font-bold">Tomás Mota Studios Unipessoal, Lda</a>.
    </div>

    <!-- Contact -->
    <div class="flex justify-center gap-8 text-center text-white">

        <a href="mailto:tomasmotastudios@gmail.com" target="_blank" class="text-white hover:text-gray-300 transition"
            title="Email">
            <i class="fas fa-envelope text-2xl"></i>
        </a>

        <a href="https://wa.me/351913936776" target="_blank" class="text-white hover:text-gray-300 transition"
            title="WhatsApp">
            <i class="fab fa-whatsapp text-2xl"></i>
        </a>

            <div class="
                h-8 
                w-px
                bg-gradient-to-b
                from-transparent
                via-white
                to-transparent
            "></div>    

        <a href="https://www.linkedin.com/in/iamtomasmota" target="_blank"
            class="text-white hover:text-gray-300 transition" title="LinkedIn">
            <i class="fab fa-linkedin-in text-2xl"></i>
        </a>

        <a href="https://www.instagram.com/iamtomasmota" target="_blank"
            class="text-white hover:text-gray-300 transition" title="Instagram">
            <i class="fab fa-instagram text-2xl"></i>
        </a>

        <a href="https://www.youtube.com/@iamtomasmota" target="_blank"
            class="text-white hover:text-gray-300 transition" title="YouTube">
            <i class="fab fa-youtube text-2xl"></i>
        </a>
    </div>
</footer>