      <div class="flex flex-col items-center pt3 pb-3">
        <div class="flex flex-wrap justify-center gap-2">

<!-- <a href="links">
    <button type="submit" class="btn mt-2 px-4 py-2 w-max self-center">Redes Sociais & Newsletter</button>
</a> -->

        <div class="social-links" class="btn mt-2 px-4 py-2 w-max self-center">
            <a href="/!/linkedin" target="_blank" class="social-link-item" title="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <a href="/!/youtube" target="_blank" class="social-link-item" title="GitHub">
                <i class="fab fa-youtube"></i>
            </a>

            <a href="/!/github" target="_blank" class="social-link-item" title="GitHub">
                <i class="fab fa-github"></i>
            </a>

            <!-- <a href="../contacto" target="_blank" class="social-link-item" title="Contato">
                <i class="fa-solid fa-envelope"></i>
            </a> -->
        </div>
        </div>
      </div>