<!-- <div class="flex flex-col items-center pt3 pb-3" id="contact">
    <div class="flex flex-col items-center" id="contact">

        <div class="
        w-32  h-px 
        bg-gradient-to-r 
        from-transparent 
        via-gray-400
        to-transparent 
        mb-4  "></div>

        <div class="flex flex-col items-center">
            <h3 class="text-l font-bold mb-0">CONTACT</h3>
            <div class="flex gap-2">
                <a href="mailto:tomasmotastudios@gmail.com" target="_blank"
                    class="social-link-item btn mt-2 px-4 py-2 w-max self-center" title="Email">
                    <i class="fas fa-envelope"></i>
                </a>

                <a href="https://wa.me/351913936776" target="_blank"
                    class="social-link-item btn mt-2 px-4 py-2 w-max self-center" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>


    </div>
</div> -->