<div class="flex flex-col items-center pt3 pb-3" id="contact">
    <div class="flex flex-wrap justify-center gap-2">

        <!-- <a href="links">
    <button type="submit" class="btn mt-2 px-4 py-2 w-max self-center">Redes Sociais & Newsletter</button>
</a> -->

        <div class="flex flex-col items-center">
            <h3 class="text-l font-bold mb-0">CONTACT</h3>
            <div class="flex gap-2">
                <a href="mailto:tomasmotastudios@gmail.com" target="_blank"
                    class="social-link-item btn mt-2 px-4 py-2 w-max self-center" title="Email">
                    <i class="fas fa-envelope"></i>
                </a>

                <a href="https://wa.me/351913936776" target="_blank"
                    class="social-link-item btn mt-2 px-4 py-2 w-max self-center" title="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <div class="
            h-30 
            w-px 
            bg-gradient-to-b 
            from-transparent 
            via-gray-400 
            to-transparent 
            mx-1
        "></div>

        <div class="flex flex-col items-center">
            <h3 class="text-l font-bold mb-0">SOCIALS</h3>
            <div class="flex gap-2">
                <a href="https://www.linkedin.com/in/iamtomasmota" target="_blank"
                    class="social-link-item btn mt-2 px-4 py-2 w-max self-center" title="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="https://www.instagram.com/iamtomasmota" target="_blank"
                    class="social-link-item btn mt-2 px-4 py-2 w-max self-center" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

    </div>
</div>