body {
  color: white;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1.5s ease forwards;
}
.fade-in.delay-1 { animation-delay: 0.5s; }
.fade-in.delay-2 { animation-delay: 1s; }
.fade-in.delay-3 { animation-delay: 1.5s; }
.fade-in.delay-4 { animation-delay: 2s; }

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.homenagem-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
