@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos base do Rodapé */
.refined-footer {
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--text-dark);
    color: var(--text-light); 
    padding: 8px 5%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.049);
}

/* ⬇️ COPYRIGHT */
.copyright-refined {
    display: inline-block;
    font-size: 0.75em; 
    color: #aaaaaa;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 5px 0;
}

.copyright-refined:hover {
    color: var(--primary-color);
}